<div class="event-comment mb-2">
  <span>
  <% if policy(Comment).create? %>
    <%= link_to(fa_icon('trash'), event_comment_path(comment.event, comment),
    method: :delete, data: {confirm: t('.delete_confirm')}) %>
  <% end %>
  <%= comment.body %>
  </span>
  <div>
    <% if comment.user.present? %>
      <%= render partial: 'users/user', object: comment.user %>
    <% else %>
      <em><strong><%= comment.user_name %></strong></em>
    <% end %>
  </span>
  <em><%= l comment.created_at, format: :short %></em>
  </div>
</div>
