<div class="text-center">
  <h1><%= @user.name %></h1>

  <%= image_tag(user_avatar(@user), class: 'img-icon rounded-circle') %>

  <% if @user == current_user %>
    <p class="mt-4">
      <%= link_to t('.edit'), edit_user_path(@user), class: 'btn btn-outline-primary' %>
    </p>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <h3><%= t('.arranged') %></h3>
        <div class="row text-start">
          <%= render @user.events %>
        </div>
      <% else %>
        <p class="mt-2"><%= t('.arranged_nothing') %></p>
      <% end %>
    </div>
  </div>
</div>
