<%= form_with(model: event) do |f| %>
  <%= render "shared/error_messages", resource: event %>

  <div class="mt-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :datetime %>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div class="mt-2">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  
  <div class="mt-2">
    <%= f.submit t('.submit'), class: 'btn btn-outline-primary' %>
    <%= link_to t('.back'), :back , class: 'btn btn-outline-success' %>
  </div>
<% end %>
