<%= form_with(model: event) do |f| %>
  <%= render "devise/shared/error_messages", resource: event %>

  <div class="mt-2">
    <%= f.label :title, "Название" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mt-2">
    <%= f.label :address, "Адрес" %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="mt-2">
    <%= f.label :datetime, "Дата и время" %>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>
  <div class="mt-2">
    <%= f.label :description, "Описание" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="mt-2">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
