<h1><%= t('.header') %></h1>

<%= form_tag('', method: 'post') %>
<div class="mt-2">
  <%= label :pincode, t('.title') %>
  <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
</div>

<div class="actions mt-2">
  <%= submit_tag t('.submit')%>
</div>

<div class="actions mt-4">
  <%= link_to t('.main_page'), events_path , class: 'btn btn-outline-primary' %>
</div>
