<!DOCTYPE html>
<html>
  <head>
    <title>Шашлыки</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render '/partials/navigation' %>

    <div class="container">
      <p id="notice"><%= notice %></p>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">&copy; Company 2022</span>
      </div>
    </footer>
  </body>
</html>
